# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
.venv/
.env

# Файлы дистрибутивов и артефакты упаковки
dist/
build/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
.spec
*.py,cover
.cache/

# Файлы IDE
.vercel/
.vscode/
.idea/
